<form id="backup-recover-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Addon')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-addon" class="form-control selectpicker" name="addon" data-rule="required">
                {foreach name="addonList" item="vo"}
                <option value="{$key}" {in name="key" value="$row.addon??$Request.get.addon" }selected{/in}>{$vo}
                </option>
                {/foreach}
            </select>
        </div>
    </div><div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8 text-danger">
            备份文件在对应的插件目录下,addondev.json
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>